*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.hero
{
    width: 100%;
    height: 100vh;
    background: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-main
{
    width: 400px;
    height: 550px;
    top: -646px;
    left: 297px;
    border-radius: 23px;
    background: #fff;
    padding:40px ;
    border-radius: 23px;
    text-align: center;
    color: #333;
}

#video{
    position: relative;
    top: -372px;
    border-radius: 30px;
}

#video-wrap
{
    position: absolute;
}

#snap{
    position: absolute;
    bottom: 200px;
    left: 640px;
}

#closeButton
{
    position: absolute;
    top: 100px;
    right: 520px;
    z-index: 1;
    border:none;
}

canvas
{
width: 350px;
height: 571px;
top: -646px;
left: 297px;
border-radius: 23px;
}

#enter-name{
    position: absolute;
    bottom: 134px;
    right: 540px;
    border: none;
}

#save-name{
    position: absolute;
    bottom: 49px;
    right: 580px;
    border: none;
}



.image-container
{
background-color: #FAEA18;
width: 100%;
height: 200vh;
display: flex;
align-items: center;
justify-content: center;
position: relative;
width: 1000px;
height: 600px;
}

.image
{
    position: absolute;
    top: 10;
    left: 200;
    width: 50vh;
    height: 50vh;
}