*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.hero
{
    width: 100%;
    height: 100vh;
    background: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 100%;
    height: 200vh;
    background: #d1d1d1;
    align-items: center;
    justify-content: center;
}
.card-main
{
    width: 400px;
    height: 550px;
    top: -646px;
    left: 297px;
    border-radius: 23px;
    background: #fff;
    padding:40px ;
    border-radius: 23px;
    text-align: center;
    color: #333;
}

#video{
    position: relative;
    top: -372px;
    border-radius: 30px;
}

#video-wrap
{
    position: absolute;
}

#snap{
    position: absolute;
    bottom: 200px;
    left: 640px;
}

#closeButton
{
    position: absolute;
    top: 100px;
    right: 520px;
    z-index: 1;
    border:none;
}

canvas
{
width: 350px;
height: 571px;
top: -646px;
left: 297px;
border-radius: 23px;
}

#enter-name{
    position: absolute;
    bottom: 136px;
    right: 540px;
    border: none;
}

.place{
    position: absolute;
    bottom: 16px;
    right: 48px;
}
#save-name{
    position: absolute;
    bottom: 52px;
    right: 580px;
    border: none;
}

.image-container
{
background-color: #FAEA18;
width: 400px;
height: 650px;
position: relative;
top: 500px;
right: 120px;
left: 297px;
border-radius: 23px;

text-align: center;
align-items: center;
justify-content: center;

}

.bg{
    position: absolute;
    bottom: 0px;
}

.logo{
    position: absolute;
    top: 5px;
    right: 50pxpx;
}

.passport{
    position: absolute;
    width: 299.83px;
height: 384.25px;
top: 110.48px;
left: 16.70px;
rotate: -11.77 deg;
}

.dp{
    position: relative;
    top: 223px;
    right: 47px;
}

.home-btn{
    position: absolute;
    top: 35px;
    right: 29px;
}

.sov{
    position: absolute;
    top: 35px;
    right: 100px;
}

.download{
    position: absolute;
    bottom: 25px;
    left: 12px;
}